body {
    background-image: url(../images/body-background.jpg);
    width: 100vw;
}

@font-face {
    font-family: "Gamja Flower";
    src: url(../fonts/GamjaFlower-Regular.ttf);
}

@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

.content-wrapper {
    width: 90%;
    margin: 0 auto;
}

.timer-and-full-name {
    display: none;
    justify-content: space-between;
    margin: 0 auto;
}

.player-full-name {
    font-family: Gamja Flower;
    color: #6aabfe;
    font-size: 40px;
}

.timer-numbers {
    color: #6babff;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 0 4px;
}

.greeting-and-game-rules-page {
    display: block;
    background-color: rgba(174, 174, 174, 0.5);
    opacity: 2;
    margin: 50px auto 0;
    padding: 50px 0;
    text-align: center;
}

.player-greeting-heading {
    font-family: Gamja Flower;
    color: #fff;
    font-size: 60px;
}

.about-game-paragraph {
    font-family: Gamja Flower;
    font-size: 40px;
    color: #fff;
}

.game-rules-heading {
    font-family: Lato;
    font-size: 30px;
    font-weight: bold;
    color: #88d2ff;
    margin-top: 30px;
}

.game-rules-unordered-list {
    list-style-type: none;
    color: #f4f4f4;
    font-size: 30px;
    margin-top: 25px;
    font-family: Gamja Flower;
}

.game-rules-unordered-list-li {
    margin-bottom: 20px;
}

.player-profile-register-button {
    color: #fff;
    background-color: #5ac1ff;
    font-size: 20px;
    font-family: Lato;
    font-weight: bold;
    padding: 8px 20px;
    border: 0;
    cursor: pointer;
    outline: none;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.3)
}

.player-profile-register-button:active {
    background-color: #5ac1ff;
    box-shadow: none;
    transform: translateY(4px);
}

.player-profile-page {
    display: none;
    background-color: rgba(174, 174, 174, 0.5);
    opacity: 2;
    margin: 50px auto 0;
    padding: 60px 0;
}

.player-checkin-and-buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1100px;
}

.game-button-box {
    position: relative;
    display: inline-block;
}

.game-level-button {
    color: #fff;
    background-color: #585858;
    font-size: 20px;
    font-family: Lato;
    font-weight: bold;
    padding: 8px 38px;
    border: 0;
    cursor: pointer;
    outline: none;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.4);
}

.game-level-button:active {
    box-shadow: none;
    transform: translateY(4px);
}

.game-level-button-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 177px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}

.level-card-dropdown-content-display {
    display: block;
}

.game-level-button-dropdown-content li {
    padding: 15px 50px;
    background-color: #616161;
    list-style-type: none;
    color: #87d2ff;
    font-family: Lato;
    font-size: 30px;
    font-weight: bold;
}

.game-level-button-dropdown-content li:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.player-checkin-paragraph {
    font-family: Gamja Flower;
    font-size: 40px;
    color: #fff;
    margin-top: 50px;
}

.player-profile {
    margin: 50px auto;
    width: 250px;
}

.player-profile-form {
    text-align: center;
}

.player-profile-input-box {
    margin-bottom: 30px;
}

.player-profile-label {
    color: #aee0ff;
    font-family: Lato;
    font-size: 20px;
    font-weight: bold;
}

.player-profile-input {
    outline: none;
    border: 3px solid #ebebeb;
    border-radius: 8px;
    padding: 8px 10px;
    width: 210px;
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #005f9a;
    background-color: #f0f0f0;
}

.player-profile-input:focus {
    border: 3px solid #91d5ff;
    transition: 0.6s;
}

.new-game-button {
    color: #fff;
    background-color: #5ac1ff;
    font-size: 20px;
    font-family: Lato;
    font-weight: bold;
    padding: 8px 20px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    display: block;
    margin: 0 auto 11px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.3)
}

.new-game-button:active {
    background-color: #5ac1ff;
    box-shadow: none;
    transform: translateY(4px);
}

.shirt-cards-button {
    text-align: center;
    color: #fff;
    background-color: #585858;
    font-size: 20px;
    font-family: Lato;
    font-weight: bold;
    padding: 8px 38px;
    border: 0;
    cursor: pointer;
    outline: none;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.4);
}

.shirt-cards-button:active {
    box-shadow: none;
    transform: translateY(4px);
}

.shirt-cards-button-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}

.shirt-cards-dropdown-content-display {
    display: block;
}

.shirt-cards-button-dropdown-content li {
    padding: 15px 20px;
    background-color: #616161;
    list-style-type: none;
}

.shirt-cards-img {
    width: 130px;
    height: 130px;
    border: 2px solid #616161;
    border-radius: 50%;
    cursor: pointer;
}

.shirt-cards-img:hover {
    background-color: #f1f1f1;
}

.game-page {
    display: none;
    background-color: rgba(174, 174, 174, 0.5);
    opacity: 2;
    margin: 0 auto;
}

.game-fild {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.card-box {
    perspective: 1000px;
    margin: 5px;
    transition: 0.5s linear;
}

.card-box.flipper,
.card-box.active .flipper,
.card-box.flip .flipper {
    transform: rotateY(180deg);
}

.card-box:active .flipper,
.card-box.hover .flipper {
    transform: rotateY(180deg);
}

.card-box,
.front,
.back {
    width: 150px;
    height: 200px;
    border-radius: 10px;
    cursor: pointer;
}

.card-img {
    margin-top: 35px;
    margin-left: 7px;
}

.flipper {
    transition: 0.5s;
    transform-style: preserve-3d;
    position: relative;
}

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
    background-color: #989898;
}

.back {
    transform: rotateY(180deg);
}

.back-card-img-1 {
    background-image: url(../images/cardbackimg/1.png);
}

.back-card-img-2 {
    background-image: url(../images/cardbackimg/2.png);
}

.back-card-img-3 {
    background-image: url(../images/cardbackimg/3.png);
}

.back-card-img-4 {
    background-image: url(../images/cardbackimg/4.png);
}

.back-card-img-5 {
    background-image: url(../images/cardbackimg/5.png);
}

.back-card-img-6 {
    background-image: url(../images/cardbackimg/6.png);
}

.back-card-img-7 {
    background-image: url(../images/cardbackimg/7.png);
}

.back-card-img-8 {
    background-image: url(../images/cardbackimg/8.png);
}

.back-card-img-9 {
    background-image: url(../images/cardbackimg/9.png);
}

.back-card-img-10 {
    background-image: url(../images/cardbackimg/10.png);
}

.back-card-img-11 {
    background-image: url(../images/cardbackimg/11.png);
}

.back-card-img-12 {
    background-image: url(../images/cardbackimg/12.png);
}

.back-position {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #525252;
}

.player-congratulations-paragraph {
    font-family: Gamja Flower;
    font-size: 40px;
    color: #fff;
    margin-top: 20px;
    text-align: center;
}

.game-score-page {
    display: none;
}

.game-score-and-buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1100px;
}

.game-score-table {
    border-collapse: collapse;
}

.game-score-table th {
    color: #fff;
    font-family: Gamja Flower;
    font-size: 35px;
    padding: 10px;
}

.game-score-table td {
    color: #fff;
    font-family: Lato;
    font-size: 20px;
    padding: 10px;
}

.game-score-table,
td,
th {
    border: 1px solid #ddd;
    text-align: center;
    margin: 25px 0;
    width: 650px;
}