body {
    margin: 0 auto;
    background-image: url(../images/body-background.jpg)
}

@font-face {
    font-family: "Gamja Flower";
    src: url(../Match-Match-Game/fonts/GamjaFlower-Regular.ttf);
}

@font-face {
    font-family: "Lato";
    src: url(../Match-Match-Game/fonts/lato);
}

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.game-player-profile-page {
    display: block;
    background-color: rgba(174, 174, 174, 0.5);
    opacity: 2;
    margin: 50px auto 0 auto;
    width: 1350px;
    padding: 40px 0 15px 0;
}

.player-profile-greeting {
    text-align: center;
}

.player-profile-greeting-heading {
    font-family: Gamja Flower;
    color: #fff;
    font-size: 60px;
}

.player-profile-greeting-paragraph {
    font-family: Gamja Flower;
    font-size: 40px;
    color: #fff;
    margin-top: 40px;
}

.greeting-and-player-profile-form {
    text-align: center;
}

.player-profile {
    margin: 50px auto;
    width: 250px;
}

.player-profile-input-box {
    margin-bottom: 30px;
}

.player-profile-label {
    color: #aee0ff;
    font-family: Lato;
    font-size: 20px;
    font-weight: bold;
}

.player-profile-input {
    outline: none;
    border: 3px solid #ebebeb;
    border-radius: 8px;
    padding: 8px 10px;
    width: 210px;
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #005f9a;
    background-color: #f0f0f0;
}

.player-profile-input:focus {
    border: 3px solid #91d5ff;
    transition: 0.6s;
}

.player-profile-register-button {
    color: #fff;
    background-color: #5ac1ff;
    font-size: 20px;
    font-family: Lato;
    font-weight: bold;
    padding: 8px 20px;
    margin-left: 50px;
    border: 0;
    cursor: pointer;
    outline: none;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.3)
}

.player-profile-register-button:active {
    background-color: #5ac1ff;
    box-shadow: none;
    transform: translateY(4px);
}

.player-greeting-and-game-rules-page {
    display: none;
    background-color: rgba(174, 174, 174, 0.5);
    opacity: 2;
    margin: 50px auto 0;
    width: 1350px;
    padding: 40px 0 35px 0;
}

.player-greeting-and-buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1100px;
}

.game-button-box {
    position: relative;
    display: inline-block;
}

.game-level-button {
    text-align: center;
    color: #fff;
    background-color: #585858;
    font-size: 20px;
    font-family: Lato;
    font-weight: bold;
    padding: 8px 38px;
    border: 0;
    cursor: pointer;
    outline: none;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.4);
}

.game-level-button:active {
    box-shadow: none;
    transform: translateY(4px);
}

.game-level-button-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 179px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}

.game-level-button-dropdown-content li {
    padding: 15px 20px;
    background-color: #616161;
    list-style-type: none;
    color: #87d2ff;
    font-family: Lato;
    font-size: 30px;
    font-weight: bold;
}

.game-level-button-dropdown-content li:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.player-full-name-greeting {
    font-family: Gamja Flower;
    color: #fff;
    font-size: 60px;
    text-align: center;
}

.about-game-paragraph {
    font-family: Gamja Flower;
    font-size: 40px;
    color: #fff;
}

.game-rules-heading {
    font-family: Lato;
    font-size: 30px;
    font-weight: bold;
    color: #88d2ff;
    text-align: center;
    margin-top: 30px;
}

.game-rules-ordered-list {
    margin-left: 60px;
    color: #f4f4f4;
    font-size: 30px;
    margin-top: 25px;
    font-family: Gamja Flower;
}

.game-rules-ordered-list-li {
    margin-bottom: 20px;
}

.new-game-button {
    color: #fff;
    background-color: #5ac1ff;
    font-size: 20px;
    font-family: Lato;
    font-weight: bold;
    padding: 8px 20px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    display: block;
    margin: 40px auto 24px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.3)
}

.new-game-button:active {
    background-color: #5ac1ff;
    box-shadow: none;
    transform: translateY(4px);
}

.shirt-cards-button {
    text-align: center;
    color: #fff;
    background-color: #585858;
    font-size: 20px;
    font-family: Lato;
    font-weight: bold;
    padding: 8px 38px;
    border: 0;
    cursor: pointer;
    outline: none;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.4);
}

.shirt-cards-button:active {
    box-shadow: none;
    transform: translateY(4px);
}

.shirt-cards-button-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}

.shirt-cards-button-dropdown-content li {
    padding: 15px 20px;
    background-color: #616161;
    list-style-type: none;
}

.shirt-cards-img {
    width: 130px;
    height: 130px;
    border: 2px solid #616161;
    border-radius: 50%;
    cursor: pointer;
}

.shirt-cards-img:hover {
    background-color: #f1f1f1;
}


/* 
.yoda-img {
   display: none;
   position: absolute;
   margin-left: 73%;
   margin-top: 50px;
}

.yoda-img img {
   width: 130px;
   height: 130px;
} */

.game-page {
    display: none;
    background-color: rgba(174, 174, 174, 0.5);
    opacity: 2;
    margin: 50px auto 0 auto;
    width: 1350px;
    padding: 15px 0;
}

.game-fild {
    display: flex;
    flex-wrap: wrap;
    /* width: 480px; */
    /* width: 960px; */
    /* width: 1285px; */
    margin: 0 auto;
}

.flip-container:active .flipper,
.flip-container.active .flipper,
.flip-container.flip .flipper {
    transform: rotateY(180deg);
}

.flip-container {
    perspective: 1000px;
    margin: 5px;
}

.flip-container:active .flipper,
.flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
    width: 150px;
    height: 199px;
    border-radius: 10px;
    cursor: pointer;
}

.card-img {
    margin-top: 35px;
    margin-left: 7px;
}

.flipper {
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
    background-color: #aaa;
}

.vader-front {
    z-index: 2;
    transform: rotateY(0deg);
    background-color: #5e5e5e;
}

.back {
    transform: rotateY(180deg);
    background-color: #111;
}

.game-score-page {
    /* display: none; */
    background-color: rgba(174, 174, 174, 0.5);
    opacity: 2;
    margin: 50px auto 0;
    width: 1350px;
    padding: 40px 0 15px 0;
}

.game-score-and-buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1100px;
}

.game-score-table {
    border-collapse: collapse;
}

.game-score-table th {
    color: #fff;
    font-family: Gamja Flower;
    font-size: 40px;
}

.game-score-table td {
    color: #fff;
    font-family: Lato;
    font-size: 20px;
}

.game-score-table,
td,
th {
    border: 1px solid #ddd;
    text-align: center;
    padding: 15px;
    width: 650px;
}

.back-card-img-1 {
    background-image: url(../images/cardbackimg/1.jpg);
}

.back-card-img-2 {
    background-image: url(../images/cardbackimg/2.png);
}

.back-card-img-3 {
    background-image: url(../images/cardbackimg/3.jpg);
}

.back-card-img-4 {
    background-image: url(../images/cardbackimg/4.png);
}

.back-card-img-5 {
    background-image: url(../images/cardbackimg/5.png);
}

.back-card-img-6 {
    background-image: url(../images/cardbackimg/6.png);
}

.back-card-img-7 {
    background-image: url(../images/cardbackimg/7.png);
}

.back-card-img-8 {
    background-image: url(../images/cardbackimg/8.jpg);
}

.back-card-img-9 {
    background-image: url(../images/cardbackimg/9.png);
}

.back-card-img-10 {
    background-image: url(../images/cardbackimg/10.png);
}

.back-card-img-11 {
    background-image: url(../images/cardbackimg/11.png);
}

.back-card-img-12 {
    background-image: url(../images/cardbackimg/12.png);
}

.back-position {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
}